{
  "extends": "../../.babelrc",
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
